.body {
    background-color: #ffffff;
}

.navbar {
    background-color: #00e0c6;
}

h3,
h5,
p {
    color: #016170;
}

.nav-link,
.navbar-brand {
    color: #016170;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #02343b;
}

.navbar-toggler {
    color: #02345b;
}

.card-body>a {
    background-color: #016170;
    color: #fff;
}

.card-body>a:hover {
    background-color: #0894a7;
    color: #fff;
}