body {
    background-color: #0e7886;
    font-family: cursive;
    height: 100%;
}

.kotak {
    justify-content: center;
    color: white;
    text-align: center;
    background-color: #0b5a64;
    border-radius: 5px;
    padding: 2%;
    margin: 5% 10% 0 10%;
}

h1 {
    font-weight: 100;
    font-size: 2.8em;
}

p>span {
    padding: 5px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#seconds,
#minutes,
#hours {
    font-size: 2em;
}

button {
    background-color: azure;
    color: #0e7886;
    border-radius: 5px;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 16px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    transition: 0.5s ease;
}

button:hover {
    background-color: #0b5a64;
    color: aliceblue;
}

footer>p {
    text-align: center;
    text-decoration: none;
}